html,body{
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.landing-page{
  background-image: url('../img/background.png');
  height: 100%;
  width:100%;
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.main-page{
  background-image: url('../img/background.png');
  width:100%;
  background-size: cover;
  background-position: 50%;
  min-height: 100%;
}
.navbar-brand{
  float: none;
}
.logo-wrap .dropdown,.logo-wrap img{
  display: inline-block;
}

.logo-wrap img.logo-landing{
  width: 90%;
}
.logo-wrap{
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow-down{
  margin-left: 10px;
}
.logo-wrap .dropdown-menu{
  width: 100%;
  border-radius: 0px;
  top: 96%;
}
#mainselection {
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #fff;
  padding: 13px 24px;
  color: #fff !important;
  border-radius: 0px;
  text-transform: uppercase;
  outline: none !important;
  margin-top: 80px;
  background-image: url(../img/arrow-down.png)!important;
  background-repeat: no-repeat;
  background-position: 94%;
}
#mainselection select {
    border: 0;
    text-transform: uppercase;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    -webkit-appearance: none;
    outline: none !important;
}
#mainselection select option{
  color: #000;
}
.navbar-inverse{
  background: transparent;
  border: none;
  border-radius: 0px;
  min-height: 150px;
  margin-bottom: 3px
}
.navbar-brand img{
  width: 85%;
}
.banner-home{
  height: 625px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.carousel-control{
  width: initial;
  text-shadow: none;
  background: none !important;
  opacity: 1;
  top: 50%;
  bottom: initial;
  margin-top: -11px;
  
}
.carousel-control.left{
  left: -40px;
}
.carousel-control.right{
  right: -40px;
}
.promotion-sect{
  position: relative;
  margin-top: -85px;
}
.promotion-sect img{
  width: 23%;
}
.social-icon-wrap{
  margin-top: 35px;
}
.social-icon-wrap ul{
  margin-right: 2.7%;
}
.social-icon-wrap ul li a{
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}
.custom-tool-tip + .tooltip > .tooltip-inner {background-color: #00aeef;}
.custom-tool-tip + .tooltip > .tooltip-arrow { border-bottom-color:#00aeef; }
.hover{
  display: none;
}
.menuleft-header li{
  line-height: 20px;
  vertical-align: middle;
  border-right: 1px solid #7e3757;
  padding-right: 8px;
}
.menuleft-header li:last-child{
  border: none;
  padding-right: 5px;
}
.navbar-header{
  float: left;
}
#navbar{
  float: right;
  padding-right: 0px
}
.navbar-nav{
  float: none
}
.navbar-nav li{
  margin-right: 5px
}
.navbar-nav li a{
  background: #00c1f4 !important;
  color: #2e3192 !important;
  font-size: 15px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 400;
}
.navbar-nav li.dropdown.open a{
  background: #2a2e93 !important;
  color: #00c0f3 !important;
}
.navbar-nav li:last-child{
  margin-right: 0px
}
.dropdown-menu{
  min-width: inherit;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}
.dropdown-menu li{
  margin-right: 0px
}
.navbar-nav li.dropdown.open li a{
  white-space: normal;
  background: #cfccda !important;
  font-size: 10px;
  color: #231f20 !important;
  padding: 12px 0px 12px 10px;
}
.navbar-nav li.dropdown.open li a:hover{
  background: #2a2e93 !important;
  color: #00c0f3 !important;
}

.welcome-wrap{
  float: right;
}
.right-logo{
  float: right;
}
.top-nav{
  padding-top: 15px;
  padding-bottom: 15px;
}
.welcome-wrap a{
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}
.welcome-wrap ul{
  padding-top: 20px
}
/*.welcome-wrap .buynow-button{
  font-size: 12px;
  text-transform: uppercase;
  background: #00c1f4;
  padding: 3px 8px;
}*/
.buynow-button img{
  height: 20px;
}
.privacypolicy-wrap{
  background-color: #fff;
  padding: 30px 0px 50px 50px;
  background-image: url('../img/privacy-bg.png');
  background-position: right;
  background-repeat: no-repeat;
}
.privacypolicy-wrap p{
  padding-right: 428px;
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;

}
.border-left{
  border-left: 1px solid #ddd;
}
.privacypolicy-wrap h1{
  color: #00adee;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 40px;
}
.filter-list input[type=checkbox]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
.filter-list input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../img/checks.png') no-repeat 0 0;
  line-height  : 24px;
  color: #4d4d4f;
  font-size: 12px;
  font-weight: 400
}
.filter-list input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}
.filter-wrap{
  background: #fff;
  margin-right: -15px;
}
.filter-icon{
  float: right;
  height: 25px
}
.filter-head{
  background: #2a2e93;
  color: #00c0f3;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px;
}
.checkbox-div{
  float: left
}
.filter-single{
  padding: 10px 15px 10px 10px;
  border-bottom: 1px solid #ddd;
}
.product-main-wrap{
  background: #fff;
  margin-left: -10px;
  padding-bottom: 45px;
}
.product-breadcrumb li a{
  font-size: 15px;
  font-weight: 400;
  color: #4d4d4f;
  text-decoration: none;
}
.product-breadcrumb{
  float: left;
  padding-top: 10px;
}
.product-sorting{
  float: right;
}
.product-breadcrumb li a span{
  display: inline-block;
  padding-left: 8px;
}
.product-breadcrumb li a.active{
  color: #2e3192;
}
.product-sorting .dropdown button{
  background: transparent;
  border: none;
  border: 1px solid #ddd;
  width: 240px;
  text-align: left;
  padding: 10px;
  outline: none !important;
  font-size: 15px;
  color: #939598
}
.sort-arrow{
  float: right;
  margin-top: 5px;
}
.product-sorting .dropdown-menu li{
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  color: #4d4d4f;
  font-weight: 400;
}
.product-sorting .dropdown-menu li:hover{
  background: #9eddf9 !important
}
.sort-category{
  color: #4d4d4f
}
.product-div-head{
  padding: 20px 30px;
}
.product-wrap{
  border-top: 1px solid #ddd;
}
.product-single{
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-right: -15px;
  margin-left: -15px;
  padding: 5px 0px;
  position: relative;
}
.border-right{
  border-right: 1px solid #ddd;
}
.border-right:nth-child(4){
  border-right: none
}
.product-name{
  font-size: 16px;
  color: #2e3192;
  font-weight: 400;
}
.product-price{
  font-size: 25px;
  color: #00c0f3;
  font-weight: bold;
}
.product-wrap .row{
  margin-right: 0px;
  margin-left: 0px
}
.add-to-cart-button{
  background: #00c1f4;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  padding: 5px 7px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.quantity-wrap{
  width: 35px;
  display: inline-block;
  border: 1px solid #ddd;
  margin-right: 5px;
  height: 24px;
  vertical-align: middle;
}
.tvicn-button{
  display: inline-block;
  vertical-align: middle;
}
.quantity-wrap input{
  border: none !important;
  max-width: 15px;
  outline: none !important;
  font-size: 14px;
  color: #000!important;
}
.quantinty-increment{
  background-image: url('../img/plus-minus.png');
  width: 5px;
  height: 12px;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}
.plus,.minus{
  height: 6px;
  width: 5px;
}
.whislist-button{
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}
.product-button-wrap{
  padding: 30px 0px 25px
}
.information-icn{
  position: absolute;
  right: 15px;
  top: 15px;
  height: 15px;
  cursor: pointer;
}
.welcome-wrap{
  margin-right: 35px;
}
.welcome-wrap ul li:first-child{
  border-right: 1px solid #9c3b62;
  padding-right: 10px;
}
.welcome-wrap .col-sm-6{
  padding: 0px
}
.welcome-wrap ul li:nth-child(2){
  border-right: 1px solid #9c3b62;
  padding-right: 15px;
  padding-left: 15px;
}
.drop{
 margin-left: 5px;
}
.header-search-wrap{
  padding-right: 15px !important;
}
.cart-icon-wrap{
  padding-left: 15px !important
}
#bx-pager{
  text-align: center;
}
#bx-pager a{
  width: 18%;
  display: inline-block;
  margin-right: 3%;
  border: 1px solid #afafaf;
}
#bx-pager a img{
  width: 100%;
}
.product-indiviual-wrap{
  background: #fff;
  padding: 15px 30px;
}
#bx-pager a:last-child{
  margin-right: 0px;
}
.bx-wrapper{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-bottom: 0px;
}
.bx-wrapper .bx-next{
  background: url(../img/click---next.png) !important;
  background-size: contain!important;
  background-repeat: no-repeat !important;
}
.bx-wrapper .bx-prev{
  background: url(../img/click---previous.png) !important;
  background-size: contain!important;
  background-repeat: no-repeat !important;
}
.add-tocart{
  background: #00c1f4;
  padding: 10px 32px;
  margin-top: 40px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff !important;
  text-decoration: none !important;
  margin-bottom: 40px
}
.product-individual-breadcrumb ul li a{
  color: #4d4d4f;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
}
.product-individual-breadcrumb ul li a.active{
  color: #2e3192
}
.product-indiviual-border{
  border-right: 1px solid #afafaf
}
.product-indiviual-details{
  padding-left: 25px;
}
.products-name-indvidual{
  font-size: 40px;
  color: #2e3192;
  font-weight: 400;
  line-height: 44px;
}
.products-name-indvidual-detail{
  font-size: 22px;
  color: #2e3192;
}
.product-individual-breadcrumb{
  margin-bottom: 30px
}
.product-indiviual-table-left,.product-indiviual-table-right,.product-indiviual-table-middle{
  display: inline-block;
}
.product-indiviual-table-left{
  width: 30%;
}
.product-indiviual-table-middle{
  margin-right: 35px
}
.products-name-indvidual-detail{
  margin-bottom: 25px;
}
.product-indiviual-table{
  margin-bottom: 30px;
}
.products-quantity-box{
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #ddd;
}
.products-quantity-box img{
  margin-left: 5px
}
.price-individual-product{
  color: #00c0f3;
  font-size: 55px;
  margin-top: 60px;
}
a{
  text-decoration: none !important;
}
.header-search-wrap{
  position: relative;
}
.header-search-wrap input{
  width: 380px;
  position: absolute;
  left: -390px;
  height: 33px;
  background: transparent;
  outline: none !important;
  top: -7px;
  padding: 10px;
  color: #fff;
  display: none;
  border: 1px solid #ddd;
}
.login-popup-wrap{
  position: relative;
}
.login-popup-wrap .login-popup{
  position: absolute;
  background: #fff;
  width: 300px;
  left: -150px;
  padding: 30px 0px;
  z-index: 999;
  display: none;
}
.login-popup p{
  color: #4d4d4f;
  font-size: 15px;
  font-weight: 300;
}
.login-popup p span{
  font-weight: 400;
}
.login-popup-buttons a{
  background: #fff;
  border: 1px solid #eee;
  padding: 7px 0px;
  text-align:center;
  width: 110px;
  color: #00c0f3;
  display: inline-block;
}
.login-popup-buttons{
  padding-top: 25px;
}
.login-popup-buttons a:first-child{
  margin-right: 15px;
}
.login-popup{
  top: 35px;
}
.login-popup:after{
  content: '';
  background: #00c1f4;
  width: 60px;
  height: 4px;
  position: absolute;
  top: -4px;
  left: 145px;
}
.top-nav{
  float: right
}
.mobile{
  display: none;
}
.mobile-inline{
  display: none !important;
}

.hi-customer-div{
  float: left;
}
.location-div{
  float: right;
}
.social-icon-wrap li{
  line-height: 30px;
  vertical-align: middle;
}
.social-icon-wrap li a{
  display: inline-block;
}
.product-main-div{
  margin: 0;
  overflow: hidden;
}
.filter-column{
  background: #fff;
  padding-left: 0px;
  width: 24%;
  margin-right: 1%;
  padding-bottom: 1000px;
  margin-bottom: -1000px
}
.product-main-column{
  background: #fff;
  padding-right: 0px;
  padding-bottom: 1000px;
  margin-bottom: -1000px
}
.producr-video-wrap{
  max-width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 70px
}
.producr-video-wrap h3{
  font-size: 30px;
  color: #2e3192;
  font-weight: 400;
  margin-bottom: 15px
}
.mob-close{
  position: absolute;
  right: 12px;
  top: 12px;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #7f7f7f;
  width: 17px;
  font-size: 11px;
  text-align: center;
  height: 18px;
}
.menuleft-header{
  margin-bottom: 4px;
}
.collapse-button{
  float: right;
  display: none;
}
.inpu-box-wrap{
  margin-right: 30px
}
.mob-menu-footer ul{
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.mob-menu-footer ul li{
  display: inline-block;
  padding: 0px 10px;
  border-right: 1px solid #ddd;
  line-height: 10px;
}
.mob-menu-footer ul li:nth-child(3),.mob-menu-footer ul li:last-child{
  border: none;
}
.mob-menu-footer ul li a{
  color: #7f7f7f;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.left-container{
  display: inline-block;
}
.product-single-container,.privacypolicy-container{
  position: relative;
}
.page-close-button{
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 9999;
}
.privacypolicy-container .page-close-button{
  right: 10px;
}
.filter-bttn-wrap{
  display: none
}
@media only screen and (max-width: 1200px) {
  .carousel-control.right{
    right: -20px;
  }
  .carousel-control.left{
    left: -20px;
  }
  .header-search-wrap input{
    width: 190px;
    left: -200px;
  }
  
}
@media only screen and (max-width: 992px) {
  .top-nav{
    float: none;
  }
}
@media only screen and (max-width: 768px) {
  #mainselection{
    max-width: 172px;
    margin-top: 30px;
    padding: 4px 10px;
    background-size: 15px
  }
  .login-popup-wrap img{
    width: 12px;
    height: 15px;
  }
  .top-nav{
    padding-bottom: 0px;
  }
  .login-popup-wrap{
    line-height: 10px;
  }
  .login-popup p{
    line-height: 18px;
  }
  .login-popup-wrap img.drop{
    height: 4px;
  }
  .welcome-wrap ul li:nth-child(2){
    padding-left: 5px;
    padding-right: 10px;
  }
  .login-popup-wrap .login-popup{
    left: -170px
  }
  .social-icon-wrap{
    margin-top: 7px;
  }
  .cart-icon-wrap img{
    width: 15px;
    height: 15px;
  }
  .welcome-wrap ul{
    padding-top: 0px;
  }
  .cart-icon-wrap{
    padding-left: 5px !important;
  }
  .navbar-inverse{
    position: relative;
  }
  .navbar-nav li{
    margin-right: 0px;
    border-bottom: 2px solid #f0f0f0
  }
  #navbar{
    position: absolute;
    z-index: 99999;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    top: 69px;
    border: none;
    background: #fff;
  }

  .navbar-nav{
    margin: 0px 15px;
  }
  .navbar-brand img{
    max-width: 180px
  }
  .logo-wrap img.logo-landing {
    width: 228px;
  }
  #mainselection select{
    font-size: 12px;

  }
  .container{
    max-width: 95%;
  }
  .welcome-messages{
    display: none;
  }
  .list-inline .header-search-wrap,.welcome-wrap .buynow-button,.menuleft-header{
    display: none
  }
  .welcome-wrap{
    margin-top: 10px;
    margin-right: 7px;
  }
  .container .navbar-header{
    margin-left: 0px;
  }
  .navbar-toggle{
    float: left;
  }
  .navbar-inverse .navbar-toggle{
    background: transparent !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px;
    margin-top: 3px;
  }
  .navbar-inverse .navbar-toggle .icon-bar{
    width: 21px;
    height: 3px
  }
  .carousel-control img{
    width: 7px;
    height: 12px;
  }
  .cart-icon-wrap a{
    font-size: 9px;
  }
  .login-popup-wrap img.drop{
    margin-left: 0px;
    width: 5px;
  }
  .social-icon-wrap li img{
    width: 20px;
    height: 20px;
    margin-top: -4px;
  }
  .product-page-list{
    width: 100%;
    max-width: 100%;
    padding: 0px;
  }
  .carousel-control.left {
    left: -17px;
  }
  .carousel-control.right {
    right: -17px;
  }
  .mobile{
    display: block;
  }
  .mobile-inline{
    display: inline-block !important;
  }
  .mobile-filter-sort-wrap{
    background: #cbcbcb;
    position: relative;
  }
  .mobile-search-wrap{
    display: inline-block;
    width: 92%;
  }
  .collapse-button{
    display: none;
  }
  .dropdown.open .collapse-button{
    display: inline-block;
  }
  .product-sorting{
    margin-right: 20px;
  }
  .dropdown.open .expand-button{
    display: none;
  }
  .mobile .header-search-wrap{
    margin-left: 20px;
    width: 100%;
  }
  .filter-wrap{
    margin: 0px
  }
  .mobile .header-search-wrap input{
    display: block !important;
    left: 15px;
    width: 100%;
    height: 22px;
  }
  .right-logo img{
    height: 65px
  }
  .header-search-wrap a{
    float: right;
  }
  .right-logo img{
    width: 43px;
    height: 37px;
  }
  .promotion-sect a{
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-top: 2%;
    display: inline-block;
  }
  .promotion-sect a:nth-child(2n){
    margin-right: 0px
  }
  .promotion-sect{
    margin-top: 0px
  }
  .promotion-sect a img{
    width: 100%;
  }
  .social-icon-wrap ul li a{
    font-size: 12px;
  }
  .social-icon-wrap ul{
    margin-right: 0px;
  }
  .navbar-nav li a{
    background: #fff !important
  }
  .mobile-menu-head{
    font-size: 10px;
    text-transform: uppercase;
    color: #7f7f7f;
    padding-bottom: 15px;
    margin: 15px 15px 0px;
    border-bottom: 2px solid #f0f0f0
  }
  .navbar-nav li a{
    font-size: 14px;
    padding: 12px 0px;
    font-weight: 400;
  }
  .menu-arrow-down{
    display: none
  }
  .navbar-nav li.dropdown.open a,.navbar-nav li.dropdown.open li a,.navbar-nav li.dropdown.open li a:hover{
    background: transparent !important;
  }
  .navbar-nav li.dropdown.open .dropdown-menu a{
    color: #7f7f7f !important;
    border: none!important;
    padding-bottom: 7px;
  }
  .navbar-nav li.dropdown.open a{
    color: #2e3192 !important
  }
  .navbar-nav .open .dropdown-menu{
    margin-top: -5px;
    padding-bottom: 10px !important
  }
  .navbar-nav li.dropdown.open li{
    border-bottom: 1px solid #f0f0f0
  }
  .navbar-nav li.dropdown.open .dropdown-menu li{
    border: none !important;
  }
  .navbar-nav li.dropdown.open li a{
    font-size: 12px;
    line-height: 22px;
    padding: 0px;
  }
  .expand-button{
    float: right;
  }
  .header-search-wrap input{
    position: static;
  }
  .search-icon-mob{
    position: absolute;
    right: 19px;
    top: 0px;
  }
  .privacypolicy-wrap{
    padding: 20px;
  }
  .navbar-header{
    height: 70px;
  }
  .privacypolicy-wrap h1{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .privacypolicy-wrap p{
    padding-right: 0px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .privacypolicy-wrap{
    background-image: none
  }
  .privacypolicy-container{
    max-width: 100%;
    padding: 0px;
  }
  .navbar-inverse{
    min-height: inherit;
    margin-bottom: 10px;
  }
  .product-single-container{
    width: 100%;
    max-width: 100% !important;
    padding: 0px;
  }
  .products-name-indvidual{
    font-size: 18px;
    color: #2e3192;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    border-top: 1px solid #f0f0f0;
    padding-top: 15px;
  }
  .products-name-indvidual-detail{
    font-size: 12px;
    color: #2e3192;
    font-weight: 400;
    text-align: left;
  }
  .products-name-indvidual{
    padding-top: 8px;
  }
  .product-indiviual-wrap{
    padding: 25px 25px;
  }
  .product-indiviual-wrap li{
    padding-left: 0px;
    padding-right: 0px;
  }
  .product-indiviual-wrap ul{
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .product-indiviual-border{
    border: none
  }
  .product-indiviual-table{
    text-align: left;
    margin-bottom: 0px;
    line-height: 10px;
  }
  .product-indiviual-table-left{
    width: 135px;
    font-size: 10px;
    line-height: 14px;
    color: #4d4d4f;
  }
  .product-indiviual-table-right{
    font-size: 10px;
    line-height: 14px;
    color: #4d4d4f;
  }
  .products-name-indvidual-detail{
    margin-bottom: 0px;
  }
  .producr-video-wrap h3{
    margin-bottom: 3px;
  }
  .product-indiviual-table-middle{
    margin-right: 10px;
  }
  .bx-wrapper .bx-controls-direction a{
    width: 9px;
    height: 14px;
  }
  #bx-pager a img{
    display: none;
  }
  #bx-pager a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #cacacb;
  }
  #bx-pager a.active{
    background: #717173
  }
  .desktop{
    display: none 
  }
  .desktop-inline{
    display: none !important
  }
  .price-individual-product{
    margin-top: 0px;
    font-size: 25px;
    font-weight: bold
  }
  .mobile-price-wrap{
    float: left;
  }
  .add-tocart{
    padding: 10px;
    font-size: 11px;
    margin: 0px;
  }
  .add-tocart img{
    width: 18px;
    height: 17px;
    margin-right: 3px;
  }
  .products-quantity-box{
    float: right;
    padding: 8px 6px;
    margin-top: 15px;
  }
  .margin-top-15{
    margin-top: 15px;
  }
  .producr-video-wrap {
    max-width: 100%;
    margin-top: 35px; 
    margin-bottom: 0px; 
  }
  .producr-video-wrap h3{
    font-size: 12px;
    margin-top: 0px;
  }
  .filter-expand-icn{
    display: inline-block;
    width: 12px;
    background: #4c4c4e;
    color: #cacaca;
    font-size: 10px;
    text-align: center;
  }
  .filter-text{
    color: #4d4d4f;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
  }
  .mobile-filter-wrap{
    float: left;
    padding-top: 2px;
    cursor: pointer;
    padding-left: 20px
  }
  .product-sorting{
    width: 40%;
  }
  .mobile-sort-arrow{
    float: right;
    margin-top: 6px;
  }
  .product-sorting .dropdown button{
    width: 100%;
    background: #8d8d8d;
    color: #cacaca;
    border: none;
    padding: 5px;
    font-size: 12px;
  }
  .product-sorting .dropdown-menu li{
    font-size: 12px;
    color: #4d4d4f
  }
  .product-sorting .dropdown-menu li:hover{
    background: #9eddf9
  }
  .sort-category{
    color: #fff;
  }
  .filter-icon{
    height: 17px;
  }
  .filter-single{
    height: 35px;
    border-bottom: none;
    width: 49%;
    display: inline-block;
  }
  .filter-single:nth-child(odd) {
    border-right: 2px solid #dfdfdf;
  }
  .filter-wrap{
    display: none
  }
  .filter-single{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -6px;
  }
  .filter-list input[type=checkbox]:not(old) + label{
    font-size: 10px;
    padding-left: 25px;
  }
  .filter-wrap{
    padding-top: 10px;
    position: absolute;
    top: 28px;
    z-index: 999;
  }
  .product-main-column{
    padding: 0px;
    margin: 0px;
  }
  .product-breadcrumb li a{
    font-size: 11px;
  }
  .product-div-head{
    padding: 0px 30px;
  }
  .product-breadcrumb li a span{
    padding-left: 5px;
  }
  .product-breadcrumb li{
    padding-left: 0px;
    padding-right: 0px;
  }
  .product-breadcrumb{
    padding-top: 5px;
  }
  .product-breadcrumb ul{
    margin-bottom: 5px;
  }
  .search-icon-mob img{
    height: 17px;
  }
  .product-individual-breadcrumb{
    text-align: left;
    margin-bottom: 0px;
  }
  .product-individual-breadcrumb ul li a{
    font-size: 10px;
  }
  .product-name{
    font-size: 10px;
  }
  .product-price{
    font-size: 13px;
  }
  .add-to-cart-button{
    padding: 5px 4px;
    font-size: 8px;
  }
  .product-button-wrap {
    padding: 10px 8px 0px;
    height: 35px;
  }
  .whislist-button img{
    width: 8px;
    height: 8px;
    margin-top: 3px;
  }
  .tvicn-button img{
    width: 15px;
    height: 14px;   
  }
  .product-single{
    margin: 0px;
    border-bottom: none;
  }
  .product-wrap .col-xs-6:nth-child(even) .product-single .border-right{
    border-right: 1px solid transparent;
  }
  .border-right{
    border: none
  }
  .product-wrap .col-xs-6{
    border: 1px solid #ddd;
    border-right: none;
    border-top:none;
    padding: 0px;
  }
  .product-main-wrap{
    margin-left: 0px;
  }
  .product-main-wrap{
    padding-bottom: 0px
  }
  .quantity-wrap{
    width: 26px;
    height: 22px;
  }
  .quantity-wrap input{
    max-width: 7px;
    font-size: 10px;
  }
  .quantinty-increment{
    height: 9px;
  }
  .product-image img{
    height: 170px;
    display: inline-block;
  }
  .left-container{
    float: left;
  }
  .right-container{
    float: right;
  }
  .product-wrap{
    margin:0px 25px;
    border-right: 1px solid #ddd
  }
  .whislist-button{
    margin-right: 0px
  }
  .filter-bttn-wrap{
    float: right;
    margin-right: 20px;
  }
  .clear-all{
    background: #b2b2b2;
    color: #fff !important;
    font-size: 12px;
    padding: 5px 9px;
  }
  .clear-all-btn{
    margin-right: 5px;
  }

}
@media only screen and (min-width: 767px) {
  .navbar-height{
    height: inherit !important;
  }
}
@media only screen and (max-width: 480px) {
  .navbar-brand img {
    max-width: 160px;
  }
  body{
    overflow-x: hidden;
  }
  .product-image img{
    height: 120px
  }
}